* {
  margin:0px;
  padding:0px;
  border-top: 1px solid #19241e;
}
body{
  margin: 200px;
  background-color: #050907;
  color: green;
}
#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;

}
p:hover {
  background-color: #22ff22;
  transition-duration: 1000ms;
}
