# This is a basic workflow that is manually triggered

name: Manual workflow

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches:
    - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  compile-md:
    runs-on: ubuntu-latest
    name: 'Compiling md files to html'
    steps: 
      - uses: actions/checkout@v1
      - name: 'Mark-o'
        uses: actions/setup-node@v1
      - run: npm install -g marked
      - run: echo 'Marked instaled'
